header {
    background-color: #EBC7E6;padding: 5px;
    border: 5px solid #BFACE2;
  }
  a {background-color: #A084DC;padding: 5px;
  }
  a{text-decoration: none;}
  a {
    font-size: 20px;
    color: black;
   
  }
  a{text-align: center;}
  .main-nav{width: 100½;}
      
  .main-header{background-color: #EBC7E6;}
  .main-header{text-align: center;}